<div class="row">
  <div class="col-md-4 offset-md-3">
    <form
      #roleForm="ngForm"
      class="form-group"
      (ngSubmit)="addNewRole(roleForm)"
    >
      <label for="name">NAME:</label>
      <input class="form-control" type="text" name="name" ngModel />
      <br />
      <label for="id">ID:</label>
      <input class="form-control" type="text" name="id" ngModel />
      <br />

      <button type="submit">Kaydet</button>
     
    </form>

    <button (click)="editNewRole(roleForm)">Güncelle</button>
    <br>
    <button (click)="deleteNewRole(roleForm)">Sil</button>
  </div>
</div>

<ul>
  <li *ngFor="let role of  rolesData? rolesData[0]?.data : []">
    ID: {{ role._id }} - NAME :{{ role.name }}
  </li>
</ul>
